<div class="nav-outer-container">
  <div class="nav-container">
  <button class="nav-container__hamburger"
    (click)="swithcNavigationMenuState()"
    [disabled]="disableButton"
    [ngClass]="{'nav-container__hamburger-active' : navigationMenuState == 'in'}">
    <div></div>
    <div></div>
    <div></div>
  </button>
  <ul class="nav-container__nav"
    [@slideRightLeft]="windowWidth >= 767 ? 'none' : navigationMenuState"
    (@slideRightLeft.start)="onDisableButton()"
    (@slideRightLeft.done)="onEnableButton()">
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}" 
      [routerLink]="['/home']" 
      routerLinkActive="nav-active">Home
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/products']" 
      routerLinkActive="nav-active" 
      *ngIf="isAuth">Products
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/sell-buy-car']" 
      routerLinkActive="nav-active" 
      *ngIf="isAuth">Buy/Sell a Car
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/services']" 
      routerLinkActive="nav-active" 
      *ngIf="isAuth"
      class="disabled-link">Services
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/gallery']" 
      routerLinkActive="nav-active" 
      *ngIf="isAuth"
      class="disabled-link">Callery
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/comments']" 
      routerLinkActive="nav-active">Comments
    </li>
    <li (click)="swithcNavigationMenuState()"
      [ngClass]="{'disabled-pointer-events' : disableButton}"
      [routerLink]="['/contacts']" 
      routerLinkActive="nav-active"
      class="disabled-link">Contacts
    </li>
  </ul>
  <div class="nav-container__sign-btns">
    <button class="btn-default narrow-btn"
      [routerLink]="['/signin']" 
      routerLinkActive="nav-active-btn" 
      *ngIf="!isAuth">Sign in
    </button>
    <button class="btn-default narrow-btn"
      [routerLink]="['/signup']" 
      routerLinkActive="nav-active-btn"
      *ngIf="!isAuth">Sign up
    </button>
  </div>
  <div *ngIf="isAuth" class="user-info">
    <app-user-info></app-user-info>
  </div>
  </div>
</div>
<div (click)="overlayClick()" [ngClass]="{'overlay-active' : isOverlayShown, 'disabled-pointer-events' : disableButton}"></div>