<div class="nav-container">
  <button class="nav-container__hamburger"
    (click)="navigationInfoState()"
    [disabled]="disableButton">
    <div></div>
    <div></div>
    <div></div>
  </button>
  <ul class="nav-container__nav"
    [@slideRightLeft]="navigationMenuState"
    (@slideRightLeft.start)="disableButton = true"
    (@slideRightLeft.done)="disableButton = false">
    <li (click)="navigationInfoState()" [routerLink]="['/home']" routerLinkActive="nav-active">Home</li>
    <li (click)="navigationInfoState()" [routerLink]="['/products']" routerLinkActive="nav-active" *ngIf="isAuth">Products</li>
    <li (click)="navigationInfoState()" [routerLink]="['/sell-car']" routerLinkActive="nav-active" *ngIf="isAuth">Sell Your Car</li>
    <li (click)="navigationInfoState()" [routerLink]="['/services']" routerLinkActive="nav-active" *ngIf="isAuth">Services</li>
    <li (click)="navigationInfoState()" [routerLink]="['/gallery']" routerLinkActive="nav-active" *ngIf="isAuth">Callery</li>
    <li (click)="navigationInfoState()" [routerLink]="['/comments']" routerLinkActive="nav-active">Comments</li>
    <li (click)="navigationInfoState()" [routerLink]="['/contacts']" routerLinkActive="nav-active">Contacts</li>
    <li (click)="navigationInfoState()" [routerLink]="['/signin']" routerLinkActive="nav-active" *ngIf="!isAuth">Sign in</li>
    <li (click)="navigationInfoState()" [routerLink]="['/signup']" routerLinkActive="nav-active" *ngIf="!isAuth">Sign up</li>
  </ul>
  <div *ngIf="isAuth" class="user-info">
    <app-user-info></app-user-info>
  </div>
</div>
<div (click)="overlayClick()" [ngClass]="{'overlay-active' : isOverlayShown}"></div>