<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <p *ngIf="errorMsg">{{ errorMsg }}</p>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" formControlName="email">
      <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please check your email it looks invalid!</span>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" formControlName="password">
      <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">The password should be between 8 and 30 symbols!</span>
    </div>
    <div>
      <button type="submit" [disabled]="!signinForm.valid">Signin</button>
    </div>
  </form>
</div>