.car-item {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 1px rgba($black, 0.75);
  width: 96%;
  background-color: var(--color12);
  border: 1px solid var(--color9);
  color: var(--color6);
  display: inline-block;
  vertical-align:top;
  @include media (med) {
    width: 48%;
  }
  &__img {
    box-shadow: 0px 0px 5px 1px rgba($black, 0.75);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  &__hr {
    margin: 15px 0px;
    border: none;
    border-top: 1px solid $default-red;
  }
  &__info {
    text-align: center;
  }
  &__prise {
    @include flexCenterVSB;
    font-weight: bold;    
    .add-to-cart {
      width: 106px;
      box-sizing: border-box;
      color: $gray;
      cursor: pointer;
      padding-right: 20px;
      background-image: url("../../../img/products/plus.png");
      background-repeat: no-repeat;
      background-position: right;
      @include hover (normal) {
        color: $default-red;
      }
    }
  }
  &__images {
    margin-top: 15px;
    text-align: center;
  }
}