.comment {
  border: 1px solid var(--color9);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--color12);
  .comment-header {
    background-color: var(--color4);
    padding: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    font-style: italic;
    @include media (med) {
      flex-direction: row;
    @include flexCenterVSB;
    }    
    .comment-header-left {
      cursor: pointer;
      margin-bottom: 10px;
      @include flexCenterV;
      @include media (med) {
        margin-bottom: 0;
      }
    }
    .comment-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $default-red;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 5px;
    }
  }
  .comment-name {
    color: $default-red;
    font-size: 1.1em;
  }
  .comment-date {
    font-size: 1.1em;
    text-align: right;
    color: var(--color7);
  }
  .comment-content {    
    white-space: pre-line;
    padding: 10px;
    .comment-content-text {
      color: var(--color6);
    }
  }
  .comment-replies {
    margin-top: 20px;
    width: 90%;
    margin-left: 8%;
    .reply {
      border: 1px solid var(--color9);
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  .reply-btns {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 2%;
    button:first-child {
      margin-right: 10px;
    }
  }
  .replyForm {
    width: 96%;
    margin: 0 auto;
    padding-bottom: 2%;
  }
}