<!-- <label for="image">Image</label> -->
<input #chooseImg style="display: none;" type="file" (change)="uploadImg($event)" accept=".png,.jpg,.jpeg,.svg,.heic">

<img class="img" [src]="imgLocalPath">

<br>

<button (click)="chooseImg.click()">Chose image</button>
<button [disabled]="file==undefined" (click)="uploadImgToFirestorage()">Upload Image</button>


<img [src]="imgURL" alt="">

<br>
<!-- <progress max="100" [value]="(uploadProgress | async)"></progress> -->

<p *ngIf="errorMsgOnUpload" class="error-msg">{{errorMsgOnUpload}}</p>