@media screen and (min-width: 540px) {
  .btn-default{
    width: 190px;
  }
  /* footer start */
  .footer-banner, .footer-banner-info {
    display: flex;
  }
  .footer-banner-info {
    width: calc(100% - 100px);
  }
  .footer-banner-info p {
    padding: 0 20px;
  }
  .footer-banner-btn {
    width: 100px;
    height: 100px;
  }
  /* footer end */
}

@media screen and (min-width: 767px) {
  .sign-form, .comments-container {
    background-image: url(../img/form-bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  /* home start */
  .main-container1 {
    display: flex;
    align-items: center;
  }
  .main-container2, .main-container3{
    display: flex;
  }
  .main-container2 .main-content, .main-container3 .main-content{
    display: flex;
    flex-direction: column;
  }
  .main-container-text{
    flex: 1;
  }
  .main-content:not(:last-child) {
    padding-right: 20px;
  }
  .main-container1 .main-content {
    width: 50%;
  }
  .main-container h2 {
    padding: 0 0 15px 0;
  }
  /* home end */
  /* footer start */
  .footer-info {
    display: flex;
    text-align: left;
  }
  .footer-main, .footer-social {
    width: 30%;
  }
  .footer-about {
    width: 60%;
    margin-right: 4%;
  }
  /* footer end */
}