.car-buy-item {
    &__car-img {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        box-shadow: 0px 0px 5px 1px rgba($black, 0.75);
        img {
            position: absolute;
            height: 100%;
            top: 0;
            margin-left: 50%;
            transform: translate(-50%);
            box-shadow: 0px 0px 5px 1px rgba($black, 0.75);
            border-radius: 3px;
        }
    }
    &__model {
        @include flexCenterVSA;
    }
    &__description {
        white-space: pre-line;
        overflow: auto;
        height: 75px;
        @include scrollbar(normal);
    }
    &__owner-info {
        .owner {
            @include flexCenterVSB;
            p {
                font-size: 1.1em;
                color: $default-red;
                font-weight: bold;
            }
        }
        .owner-avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 3px solid $default-red;
            background-size: cover;
            background-position: center;
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .owner-info {
            margin-bottom: 15px;
            a {
                color: $default-red !important;
            }
        }
    }
    .no-car-images {
        padding: 12px 0;
        text-align: center;
    }
}