.sign-form {
  background-color: var(--color2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  max-width: 767px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  >* {
    display: block;
  }
  &__sign-up-header {
    h2 {
      color: $default-red;
      text-align: center;
      font-size: 1.3em;
      padding: 5px;
    }
  }
  &__sign-element {
    font-size: 1.1em;
    margin: 20px 0;
    .phone, .name, .email, .password {
      display: flex;
    }
    .name {
      .name-img {
        @include signFormBackround;
        background-image: url("../../../img/sign/user.png");
      }
    }
    .phone {
      .phone-img {
        @include signFormBackround;
        background-image: url("../../../img/sign/phone.png");
      }
      input {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
        border-left: none !important;
        @include inputNoArrows;
      }
    }
    .email {
      .email-img {
        @include signFormBackround;
        background-image: url("../../../img/sign/email.png");
        padding: 10px;
      }
    }
    .password {
      .password-img {
        @include signFormBackround;
        background-image: url("../../../img/sign/password.png");
      }
    }
    .sign-error {
      li {
        color: $default-red;
        font-size: 1.1em;
        padding: 10px 0 0 0;
        list-style: none;
      }
    }
    input {
      width: calc(100% - 50px);
      border: 1px solid var(--color8);
      color: var(--color7);
      border-radius: 0 3px 3px 0;
      box-sizing: border-box;
      padding: 7px;
      font-size: 1.1em;
      outline: none;
      background-color: rgba($white, 0.5);
      filter: none;
      &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border: 1px solid var(--color8);
        -webkit-text-fill-color: var(--color7);
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    label {
      margin-bottom: 5px;
      width: 100%;
      color: var(--color7);
    }
    input.ng-invalid.ng-touched, .invalid {
      border: 2px solid $default-red;
    }
  }
}

//mat select
.sign-select {
  .mat-form-field {
    * {
      padding: 0 !important;
    }
    border: 1px solid var(--color8);
    border-right: 1px solid var(--color8) !important;
    background-color: rgba(255, 255, 255, 0.5);
    width: 65px;
    padding: 0 7px;
    .mat-form-field-infix {
      border: none;
      height: 35px !important;
      display: flex !important;
      align-items: center;
      .ng-star-inserted {
        @include rubik;
        font-size: 1.1em;
        color: var(--color7);
      }
      .mat-select-arrow {
        color: var(--color7) !important;
      }
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}

.mat-select-panel {
  background-color: var(--color3);
  border-radius: 3px;
  .mat-option-text {
    color: var(--color7) !important;
  }
}

.if-phone-invalid {
  border-top: 2px solid $default-red !important;
  border-left: 2px solid $default-red !important;
  border-bottom: 2px solid $default-red !important;
}