<div  class="car-item">
  <img class="car-item__img" [src]="car.carImg">

  <p>{{ car.model }}</p>
  <p>{{ car.year }}</p>

  <p>{{ car.description }}</p>

  <p>{{ car.price }}</p>  

  <p>{{ car.date.toDate() | date:'dd.MM.yyyy' }}</p>

  <div>
    <div></div>
    <div></div>
  </div>

  <div>
    <div *ngIf="car.carImages" class="car-item__images">
      <button class="btn-default narrow-btn" (click)="onShowCarImages(car.id)">View Images</button>
      <app-car-images *ngIf="carShowImages && carId==car.id" [carImgs]="car.carImages"></app-car-images>
    </div>
    <p *ngIf="!car.carImages">There are no images uploaded</p>
  </div>
</div>


<!-- <div class="car-item">
  
  <p class="car-item__info">{{ car.carInfo }}</p>
  <hr class="car-item__hr">
  <div class="car-item__prise">
    <div>
      <p> &#36; {{ car.carPrice }}</p>
    </div>
    <div class="add-to-cart">
      <p>Add to Cart</p>
    </div>
  </div>
  <div class="car-item__images">
    <button class="btn-default narrow-btn" (click)="onShowCarImages(car.id)">View Images</button>
    <app-car-images *ngIf="carShowImages && carId==car.id" [carImgs]="car.carImgs"></app-car-images>
  </div>
</div> -->