@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.loading-spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #1e1e1e;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.particular-loading-spinner {
  position: relative;
  min-height: 150px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #eae9ef;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


/*  */

.navigation, .categories {
  display: flex;
}

.navigation div {
  padding: 5px;
  cursor: pointer;
}

input.ng-invalid.ng-touched, .invalid {
  border: 1px solid red;
}

.cars {
  display: flex;
}


/* default start */

body, div, button, ul, li, p, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #eae9ef;
  min-width: 320px;
}

body * {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body img {
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background: #b53636;
}

.container {
  max-width: 980px;
  padding: 0 5%;
  margin: 0 auto;
}

.nav-active {
  color: #b53636;
  background: url("../img/nav-underline.png") center 80% no-repeat;
  background-position-y: 12px;
}

.categories-active {
  color: #b53636;
  background: url("../img/nav-underline.png") center no-repeat;
  background-position-y: 100%;
}


/* default end */


/* home start */

.main-container {
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  text-align: center;
}

.main-container h2 {
  font-size: 1.2em;
  padding: 15px 0;
}

.main-container p {
  padding-bottom: 15px;
}

.main-content img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.main-container1 .main-content img {
  margin: 15px 0 0 0;
}

.home-btn {
  background-color: #b53636;
  width: 190px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 1.1em;
  cursor: pointer;
  background: linear-gradient(to left, #b53636 35%, #1e1e1e 65%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  box-sizing: border-box;
  border: none;
  border-left: 5px solid #1e1e1e;
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 15px;
}


/* home end */


/* signup start */

.signup-form {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.signup-form * {
  display: block;
}


/* signup end */


/* footer start */

.footer-banner-info {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer/footer-banner-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer/footer-banner-bg.jpg") no-repeat left top;
  background-size: cover;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.footer-banner-info h3 {
  padding: 20px;
}

.footer-banner-info p {
  padding: 0 20px 20px 20px;
}

.footer-banner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-banner-btn {
  background-color: #b53636;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 4em;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.footer-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer/footer-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer/footer-bg.jpg") no-repeat left top;
  background-position: center;
  background-size: cover;
}

.footer-info {
  text-align: center;
  color: #b4b4b4;
  margin-bottom: 100px;
}

.footer-info ul li, .footer-info ul {
  list-style: none;
  padding: 8px 0px;
}

.footer-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3em;
}

.footer-main {
  padding-top: 30px;
}

.footer-main ul li:not(:first-child) {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.footer-follow {
  display: flex;
  justify-content: center;
}

.f1, .f2, .f3, .f4 {
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.f1 {
  background-image: url("../img/footer/socials/f1.png");
}

.f2 {
  background-image: url("../img/footer/socials/f2.png");
}

.f3 {
  background-image: url("../img/footer/socials/f3.png");
}

.f4 {
  background-image: url("../img/footer/socials/f4.png");
}

.footer-copyright {
  position: relative;
}

.footer-copyright img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
}

.footer-copyright p {
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}


/* footer end */

@media screen and (min-width: 540px) {
  /* footer start */
  .footer-banner, .footer-banner-info {
    display: flex;
  }    
  .footer-banner-info {
    width: calc(100% - 100px);
  }
  .footer-banner-info p {
    padding: 0 20px;
  }
  .footer-banner-btn {
    width: 100px;
    height: 100px;
  }
  /* footer end */
}

@media screen and (min-width: 767px) {
  /* home start */
  .main-container{
    display: flex;
    align-items: center;
  }
  .main-content:not(:last-child){
    padding-right: 20px;
  }
  .main-container1 .main-content{
    width: 50%;    
  }
  .main-container h2{
    padding: 0 0 15px 0;
  }
  /* home end */

  /* footer start */
  .footer-info {
    display: flex;
    text-align: left;
  }
  .footer-main, .footer-social {
    width: 30%;
  }
  .footer-about {
    width: 60%;
    margin-right: 4%;
  }
  /* footer end */
}