@mixin btn {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
}

@mixin changePhoneBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  margin-left: 10px;
}

@mixin placeholderColor ($color) {
  &::placeholder {
    color: $color
  }
  &::-webkit-input-placeholder {
    color: $color
  }
  &:-moz-placeholder {
    color: $color
  }
  &::-moz-placeholder {
    color: $color
  }
  &:-ms-input-placeholder {
    color: $color
  }
}

@mixin inputNoArrows {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

@mixin flexCenterHV {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterH {
  display: flex;
  justify-content: center;
}

@mixin flexCenterV {
  display: flex;
  align-items: center;
}

@mixin flexCenterVSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenterVSA {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin signFormBackround {
  background-color: $default-red;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 50px;
  border-radius: 3px 0 0 3px;
  padding: 7px;
  box-sizing: border-box;
}

@mixin nav-active {
  color: $default-red !important;
  font-weight: bold;
  background: url("../../img/shared/nav-underline.png") center no-repeat;
  background-position-y: 21px;
}

@mixin categories-active {
  color: $default-red !important;
  font-weight: bold;
  background: url("../../img/shared/nav-underline.png") center no-repeat;
  background-position-y: 27px;
}

@mixin scrollbar ($scrollbar) {
  // -webkit-
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 5px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color14);
  }
  @if $scrollbar==normal {
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: transparent;
    }
  }
  @else if $scrollbar==body {
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: var(--color15);
    }
  }
  // -moz-
  scrollbar-color: var(--color14) transparent;
  scrollbar-width: thin;
}