@mixin btn {
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
}

@mixin flexCenterHV {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexCenterH {
	display: flex;
	justify-content: center;
}

@mixin flexCenterV {
	display: flex;
	align-items: center;
}