<div class="categories-info">
  <div class="categories-info__text">
    <h2>EXAMPLE TITLE TEXT</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis magnam numquam molestiae rerum asperiores, recusandae inventore, cupiditate accusantium nisi at aspernatur perspiciatis odio nihil! Molestiae, assumenda? Aliquid delectus culpa
      dolorem?
    </p>
  </div>
  <div class="categories-info__cars">
    <div>
      <img src="../../../../assets/img/products/top-1.jpg">
      <div class="top-cars-hover">
        BMW
      </div>
    </div>
    <div>
      <img src="../../../../assets/img/products/top-2.jpg">
      <div class="top-cars-hover">
        Citroen
      </div>
    </div>
    <div>
      <img src="../../../../assets/img/products/top-3.jpg">
      <div class="top-cars-hover">
        Zeno
      </div>
    </div>
    <div>
      <img src="../../../../assets/img/products/top-4.jpg">
      <div class="top-cars-hover">
        Honda
      </div>
    </div>
  </div>
</div>