.footer-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../img/footer/footer-bg.jpg") no-repeat left top;
  background-position: center;
  background-size: cover;
}

.footer-banner {
  margin-top: 30px;
  margin-bottom: 30px;
  &__footer-banner-info {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../img/footer/footer-banner-bg.jpg") no-repeat left top;
    background-size: cover;
    align-items: center;
    color: $white;
    text-align: center;
    h3 {
      padding: 20px;
      color: $white;
    }
    p {
      padding: 0 20px 20px 20px;
      color: var(--color3);
    }
  }
  &__footer-banner-btn {
    background-color: $default-red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 4em;
    transition: 0.5s;
    user-select: none;
    @include hover (normal) {
      color: $black;
    }
  }
}

.footer-info {
  text-align: center;
  color: $gray;
  margin-bottom: 100px;
  padding-top: 30px;
  .footer-main {
    ul {
      li {
        &:not(:first-child) {
          font-weight: bold;
          font-size: 1.1em;
          cursor: pointer;
          @include hover (normal) {
            color: $default-red;
          }
        }
      }
    }
  }
  .footer-social {
    .footer-follow {
      display: flex;
      justify-content: center;
      .f1, .f2, .f3, .f4 {
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
        @include hover (after){
          opacity: 1;
        }
        &::after {
          content: "";
          display: block;
          background-size: cover;
          opacity: 0;
          width: 40px;
          height: 40px;
          border-radius: 5px;
          transition: opacity .5s ease-in-out;
        }
      }
      .f1 {
        background-image: url("../../../img/footer/socials/f1.png");
        &::after {
          background-image: url("../../../img/footer/socials/f1-hover.png");
        }
      }
      .f2 {
        background-image: url("../../../img/footer/socials/f2.png");
        &::after {
          background-image: url("../../../img/footer/socials/f2-hover.png");
        }
      }
      .f3 {
        background-image: url("../../../img/footer/socials/f3.png");
        &::after {
          background-image: url("../../../img/footer/socials/f3-hover.png");
        }
      }
      .f4 {
        background-image: url("../../../img/footer/socials/f4.png");
        &::after {
          background-image: url("../../../img/footer/socials/f4-hover.png");
        }
      }
    }
  }
  ul {
    li {
      list-style: none;
      padding: 8px 0px;
    }
  }
  .footer-title {
    color: $white;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.footer-copyright {
  position: relative;
  img {
    max-width: 100%;
    display: block;
    user-select: none;
    margin: 0 auto;
  }
  p {
    color: $color7-dark;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }
}