<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div *ngIf="isRegistered">
    <p>Your registration was created successfully. Do you want to log in?</p>
    <div>
      <button (click)="isRegistered = false" [routerLink]="['/signin']">Yes</button>
      <button (click)="isRegistered = false">Close</button>
    </div>
  </div>
  <p *ngIf="errorMsg">{{ errorMsg }}</p>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" formControlName="name">
      <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">Please enter a valid name!</span>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" formControlName="email" #email>
      <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter a valid email!</span>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" formControlName="password">
      <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">The password should be between 8 and 30 symbols!</span>
    </div>
    <div>
      <label for="confirmPass">Confirm Password</label>
      <input type="password" name="confirmPass" formControlName="confirmPass">
      <span *ngIf="">The passwords do not match!</span>
    </div>
    <div>
      <button type="submit" [disabled]="!signupForm.valid">Sighnup</button>
    </div>
  </form>
</div>