<div>
	<form [formGroup]="sellCarForm" (ngSubmit)="onSubmit(sellCarForm)">
		<div>
			<mat-form-field>
				<mat-select formControlName="model">
					<mat-option *ngFor="let carModel of carModels" [value]="carModel.name">
						{{ carModel.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-select formControlName="year">
					<mat-option *ngFor="let carManufactureYear of carManufactureYears" [value]="carManufactureYear.year">
						{{ carManufactureYear.year }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div>
			<div>
				<img [src]="carImgLocalPath">
			</div>
			<input formControlName="carImg"
			#chooseCarImg style="display: none;"
			type="file" 
			(change)="onChooseCarImg($event)" 
			accept=".png,.jpg,.jpeg,.svg,.heic">
			<button type="button" class="btn-default narrow-btn ng-star-inserted" (click)="chooseCarImg.click()">Chоose Image</button>
		</div>
		<div>
			<textarea placeholder="Description..." formControlName="description"></textarea>
		</div>
		<div>
			<input type="number" name="price" formControlName="price">
		</div>
		<div>
			<div *ngIf="carImgLocalPaths.length == 0">
				<img src="../../../assets/img/cell-car/upload-img.png">
			</div>
			<button type="button" class="btn-default narrow-btn ng-star-inserted" (click)="chooseCarImgs.click()">Chоose Images</button>
			<div *ngIf="carImgLocalPaths.length > 0">
				<div *ngFor="let carImgLocalPath of carImgLocalPaths; let i = index">
					<img [src]="carImgLocalPath">
					<div (click)="removeCarImg(i)">X</div>
				</div>
			</div>
			<input formControlName="carImgs"
			#chooseCarImgs style="display: none;"
			type="file" 
			(change)="onChooseCarImgs($event)" 
			accept=".png,.jpg,.jpeg,.svg,.heic"
			multiple="multiple">			
		</div>
		<div>
      <button type="submit" [disabled]="!sellCarForm.valid">Add to the Shop</button>
    </div>
	</form>
</div>