<div class="comment-user-info-container">
  <div class="comment-user-info">
    <div class="comment-user-info__close-btn" (click)="closeUserInfo()">X</div>
    <div class="comment-user-info__avatar"
      [ngStyle]="{'background-image': 'url(' + shownUser.userImg + ')'}">
    </div>
    <div class="comment-user-info__element">
      <div class="comment-info-img">
        <img src="../../assets//img/sign/user.png">
      </div>
      <div>
       {{ shownUser.name }}
      </div>
    </div>
    <div class="comment-user-info__element">
      <div class="comment-info-img">
        <img src="../../assets//img/sign/phone.png">
      </div>
      <div>
        <span>
          +{{ shownUser.phoneCode }}                    
        </span>
        <span>
          {{ shownUser.phone }}
        </span>
      </div>
    </div>
    <div class="comment-user-info__element">
      <div class="comment-info-img">
        <img src="../../assets//img/sign/email.png">
      </div>
      <div>
        <a href="mailto:{{ shownUser.email }}">{{ shownUser.email }}</a>              
      </div>
    </div>
  </div>
</div>  