<div class="user-info-container">
  <div class="user-info-container__user-nav">
    <button class="manage-user-info" 
      [disabled]="disableButton"
      (click)="swithcUserInfoState()">
    </button>
  </div>
  <div class="user-info-container__user-info-content" 
    [@slideLeftRight]="userInfoMenuState"
    (@slideLeftRight.start)="onDisableButton()"
    (@slideLeftRight.done)="onEnableButton()"
    *ngIf="userAdditionalData">
      <div class="user-image-container">
        <app-loading-spinner class="user-loading-spinner" *ngIf="isLoading"></app-loading-spinner>
        <div class="user-avatar" 
          [ngStyle]="{'background-image': 'url('+imgLocalPath+')'}">
        </div>
        <div *ngIf="isInChangeImgMode" class="change-user-img">
          <input 
            #chooseImg style="display: none;" 
            type="file" 
            (change)="uploadAvatar($event)" 
            accept=".png,.jpg,.jpeg,.svg,.heic">
          <button class="btn-default narrow-btn ng-star-inserted" (click)="chooseImg.click()">Chose image</button>
          <button class="btn-default narrow-btn ng-star-inserted" [disabled]="file==undefined" (click)="uploadAvatarToFirestorage()">Upload Image</button>
          <p *ngIf="errorMsgOnAvatarUpload" class="error-msg">{{errorMsgOnAvatarUpload}}</p>
        </div>
        <button 
          class="change-user-image-btn"
          (click)="changeImgMode()">
        </button>
      </div>
      <div class="user-name-container">
        <div class="user-name-img">
          <img src="../../../assets/img/sign/user.png">
        </div>
        <div>{{ userAdditionalData[0].name }}</div>
      </div>
      <div class="phone-container">
        <div class="phone-info">
          <div>
            <div class="user-phone-img">
              <img src="../../../assets/img/sign/phone.png">
            </div>
              <div class="phone-code" *ngIf="!changePhoneButton">+{{ userAdditionalData[0].phoneCode }}</div>
              <div *ngIf="!changePhoneButton">{{ userAdditionalData[0].phone }}</div>
          </div>
          <button class="change-phone-btn" *ngIf="!changePhoneButton" (click)="changePhoneButton = true"></button>
        </div>  
        <div class="change-phone-form-container">
          <form class="change-phone-form" *ngIf="changePhoneButton" [formGroup]="changePhoneForm" (ngSubmit)="onSubmit(changePhoneForm)">
            <div class="change-phone-select">
              <mat-form-field>
                <mat-select formControlName="phoneCode">
                  <mat-option *ngFor="let phoneCode of phoneCodes" [value]="phoneCode.phoneCode">
                    <img [src]="phoneCode.img">
                    +{{phoneCode.phoneCode}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <input class="change-phone" type="number" name="phone" formControlName="phone">
            <button class="phone-accept-change" type="submit" [disabled]="!this.changePhoneForm.valid"></button>
            <button class="phone-decline-change" type="button" (click)="changePhoneButton = false"></button>
          </form>
          <p *ngIf="errorMsgOnPhoneChange" class="error-msg">{{ errorMsgOnPhoneChange }}</p>
          <p *ngIf="errorMsgOnloadPhoneCodes" class="error-msg">{{ errorMsgOnloadPhoneCodes }}</p>
        </div>
      </div>
      <div class="user-email-container">
        <div class="user-email-img">
          <img src="../../../assets/img/sign/email.png">
        </div>
        <div>{{ userAdditionalData[0].email }}</div>
      </div>
      <div class="switch-theme">
        <div class="theme">
          <img src="../../../assets/img/user-info/sun.png">
        </div>
        <div>
          <mat-slide-toggle (change)="changeTheme()" [checked]="darkMode"></mat-slide-toggle>
        </div>
        <div class="theme">
          <img src="../../../assets/img/user-info/moon.png">
        </div>          
      </div>
      <button class="logout-btn btn-default narrow-btn" (click)="onLogout()">
        Logout
      </button>      
  </div>
</div>
