<div class="user-nav">
  <button 
  class="manage-user-info" 
  (click)="this.menuState == 'in' ? this.menuState = 'out' : this.menuState = 'in'"
  [disabled]="disableButton"
  #button></button>
</div>
<div 
  class="user-info-content" 
  [@slideLeftRight]="menuState"
  (@slideLeftRight.start)="disableButton = true"
  (@slideLeftRight.done)="disableButton = false"
  #content>
  <div
    *ngFor="let userItem of userInfo">
    <div>
      <span>Name: </span>
      <span>{{ userItem.name }}</span>
    </div>
    <div>
      <span>Phone: </span>
      <span>{{ userItem.phone }}</span>
      <form [formGroup]="changeNumberForm" (ngSubmit)="onSubmit(changeNumberForm)">
        <input type="number" name="phone" formControlName="phone">
        <button type="submit">Edit</button>
      </form>
    </div>
    <div>
      <span>Email: </span>
      <span>{{ userItem.email }}</span>
    </div>
  </div>
</div>