<div (appClickOutside)="clickOutside()">
  <div class="user-nav">
    <button 
    class="manage-user-info" 
    (click)="this.menuState == 'in' ? this.menuState = 'out' : this.menuState = 'in'"
    [disabled]="disableUserButton"></button>
  </div>
  <div 
    class="user-info-content" 
    [@slideLeftRight]="menuState"
    (@slideLeftRight.start)="disableUserButton = true"
    (@slideLeftRight.done)="disableUserButton = false">
    <div
      *ngFor="let userItem of userInfo">
      <p>
        <span>Name: </span>
        <span>{{ userItem.name }}</span>
      </p>
      <p>
        <span>Phone: </span>
        <span>{{ userItem.phone }}</span>
      </p>
      <p>
        <span>Email: </span>
        <span>{{ userItem.email }}</span>
      </p>
    </div>
  </div>  
</div>