.navigation {
  display: flex;
}

.navigation div {
  padding: 5px;
  cursor: pointer;
}


/*  */

body * {
  outline: none;
}

.nav-active {
  background-color: lightblue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}