.navigation {
  display: flex;
}

.navigation div {
  padding: 5px;
  cursor: pointer;
}


/*  */

body * {
  outline: none;
}

.nav-active {
  background-color: lightblue;
}

input.ng-invalid.ng-touched, .invalid {
  border: 1px solid red;
}

@media not all and (pointer: coarse) {
  div:hover {
    background-color: transparent;
  }
}