@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@import "variables/colors";
@import "variables/themes";

@import "mixins/media";
@import "mixins/hover";

@import "components/header/navigation";
@import "components/header/user-info";
@import "components/home/home";
@import "components/products/products";
@import "components/comments/comments";
@import "components/sign/sign";
@import "components/footer/footer";



@import "hovers";


/*  */

.categories {
  display: flex;
}

.cars {
  display: flex;
}

body {
  padding-top: 100px !important;
}


/*  */

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  background-color: var(--first-bg);
  min-width: 320px;
   ::selection {
    background: $default-red-color;
    color: $white;
  }
  .container {
    max-width: 980px;
    padding: 0 5%;
    margin: 0 auto;
  }
  img {
    user-select: none;
  }
  .btn-default-center {
    display: block;
    margin: 0 auto;
  }
  .btn-default {
    background-color: $default-red-color;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $white;
    font-size: 1.1em;
    cursor: pointer;
    background: linear-gradient(to left, $default-red-color 35%, $default-btn-hover-color 65%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 3px;
    border-left: 5px solid $default-btn-hover-color;
    user-select: none;
    &:disabled {
      background-color: $default-disabled-red-color;
      background: linear-gradient(to left, #7a2626 35%, #7a2626 65%);
      color: #999;
      cursor: not-allowed;
    }
  }
  .narrow-btn {
    width: auto !important;
    height: auto;
    line-height: 1.1em;
    padding: 5px;
    margin-right: 10px;
  }
  .hr-border {
    border-top: 1px solid var(--hr-border-color-top);
    border-bottom: 1px solid var(--hr-border-color-bottom);
    margin: 20px 0;
  }
  .error-msg {
    color: #b53636;
    font-size: 1.1em;
    padding: 10px 0 0 0;
  }
}

@import "media";