<div class="container">
  <div class="main-container main-container1">
    <div class="main-content">
      <img src="../../assets/img/home/home-1.jpg">
    </div>
    <div class="main-content">
      <h2>Example</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus possimus temporibus quam eum ducimus ut. Pariatur id necessitatibus sint, optio corrupti fuga incidunt, harum, rem laudantium eligendi dolorem vel blanditiis! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Repellendus possimus temporibus quam eum ducimus ut. Pariatur id necessitatibus sint, optio corrupti fuga incidunt, harum, rem laudantium eligendi dolorem vel blanditiis!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus possimus temporibus quam eum ducimus ut. Pariatur id necessitatibus sint, optio corrupti fuga incidunt, harum, rem laudantium eligendi dolorem vel blanditiis!
      </p>
      <button class="btn-default">Details</button>
    </div>
  </div>
  <div class="main-container">
    <div class="main-content">
      <h2>Example 1</h2>
      <img src="../../assets/img/home/home-2.1.jpg">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nesciunt repellat natus eum, officia eveniet reiciendis iure eaque, obcaecati assumenda optio? Temporibus eum provident dolore et, delectus dolor perspiciatis inventore!
      </p>
      <button class="btn-default">Details</button>
    </div>
    <div class="main-content">
      <h2>Example 2</h2>
      <img src="../../assets/img/home/home-2.2.jpg">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nesciunt repellat natus eum, officia eveniet reiciendis iure eaque, obcaecati assumenda optio? Temporibus eum provident dolore et, delectus dolor perspiciatis inventore!
      </p>
      <button class="btn-default">Details</button>
    </div>
  </div>
  <div class="main-container">
    <div class="main-content">
      <h2>Example 1</h2>
      <img src="../../assets/img/home/home-3.1.jpg">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nesciunt repellat natus eum, officia eveniet reiciendis iure eaque, obcaecati assumenda optio? Temporibus eum provident dolore et, delectus dolor perspiciatis inventore!
      </p>
      <button class="btn-default">Details</button>
    </div>
    <div class="main-content">
      <h2>Example 2</h2>
      <img src="../../assets/img/home/home-3.2.jpg">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nesciunt repellat natus eum, officia eveniet reiciendis iure eaque, obcaecati assumenda optio? Temporibus eum provident dolore et, delectus dolor perspiciatis inventore!
      </p>
      <button class="btn-default">Details</button>
    </div>
    <div class="main-content">
      <h2>Example 3</h2>
      <img src="../../assets/img/home/home-3.3.jpg">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nesciunt repellat natus eum, officia eveniet reiciendis iure eaque, obcaecati assumenda optio? Temporibus eum provident dolore et, delectus dolor perspiciatis inventore!
      </p>
      <button class="btn-default">Details</button>
    </div>
  </div>
</div>