<div class="container">
  <div style="position: relative;" class="comments-container">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <p class="comments-count">Comments</p>
    <div>
      <div class="comment" *ngFor="let comment of comments">
        <div class="comment-header">
          <p class="comment-name">
            {{ comment.name }}
          </p>
          <p class="comment-date">
            {{ comment.date.toDate() | date:'dd.MM.yyyy' }} at {{ comment.date.toDate() | date:'HH:mm' }}
          </p>
        </div>
        <div class="comment-content">
          <p class="comment-content-text">{{ comment.comment }}</p>
          <div class="comment-replies">
            <div class="reply" *ngFor="let reply of comment.replies">
              <div class="comment-header">
                <p class="comment-name">
                  {{ reply.name }}
                </p>
                <p class="comment-date">
                  {{ reply.date.toDate() | date:'dd.MM.yyyy' }} at {{ reply.date.toDate() | date:'HH:mm' }}
                </p>
              </div>
              <div class="comment-content">
                <p class="comment-content-text">{{ reply.comment }}</p>
              </div>
            </div>
          </div>
          <div>
            <button 
            class="btn-default narrow-btn" 
            (click)="isReply = comment.id"
            *ngIf="isAuth">Reply</button>
            <button
            class="btn-default narrow-btn"
            *ngIf="isReply == comment.id"
            (click)="isReply = null">Close Reply</button>
          </div>
          <form 
          class="replyForm" 
          *ngIf="isReply == comment.id" 
          [formGroup]="replyForm" 
          (ngSubmit)="onReply(
            comment.name,
            comment.date, 
            comment.comment,
            comment.id,
            replyForm)">
            <div>
              <textarea class="comments-textarea" placeholder="Type your reply..."
                formControlName="replyArea"></textarea>
            </div>
            <div>
              <button class="btn-default btn-default-center" type="submit" [disabled]="!replyForm.valid">Add your comment</button>
            </div>
            <p class="error-msg">{{ errorMsg }}</p>
          </form>
        </div>
      </div>
      <hr class="hr-border">
      <div *ngIf="!isAuth" class="comments-auth">
        <p>Please Sign in to add your comment!</p>
      </div>
      <form *ngIf="isAuth" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
        <div>
          <textarea class="comments-textarea" placeholder="Type your comment..."
            formControlName="commentArea"></textarea>
        </div>
        <div>
          <button class="btn-default btn-default-center" type="submit" [disabled]="!postForm.valid">Add your
            comment</button>
        </div>
        <p class="error-msg">{{ errorMsg }}</p>
      </form>
    </div>
  </div>