<div class="container">
  <div #allComments>
    Comments (number):
    <div class="test" style="white-space: pre-line;" *ngFor="let comment of comments">
     {{ comment.name }} - 
     {{ comment.date | date:'dd.MM.yyyy' }} {{ comment.date | date:'HH:mm' }} - 
     {{ comment.comment }}
    </div>
  </div>
  <div *ngIf="!isAuth">
    <p>Please Sign in to add your comment!</p>
  </div>
  <form *ngIf="isAuth" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
    <div>
      <textarea placeholder="Your comment..." formControlName="commentArea"></textarea>
    </div>
    <div>
      <button type="submit" [disabled]="!postForm.valid">Add your comment</button>
    </div>
  </form>
</div>